spring:
  main:
    allow-bean-definition-overriding: true
  threads:
    virtual:
      enabled: true
  application:
    name: ai-agents
  ai:
    google:
      genai:
        api-key: ${GOOGLE_API_KEY}


springdoc:
  show-actuator: false
  swagger-ui:
    path: /api
    tags-sorter: alpha

  api-docs:
    path: /api-docs

